@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
@inject NavigationManager NavigationManager
@inject DataAccess.DBAccess.ISqlDataAccess db
@inject IUserData userData

<div class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
            <span>
                VBStore
            </span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            @if (userModel.UserType == UserType.Admin)
                {
                <ul class="navbar-nav">
                    <li class="nav-item @(IsActive("/"))">
                        <NavLink class="nav-link" @onclick="HandleIndexAdmin">
                            Home
                        </NavLink>
                    </li>
                </ul>
                <span> Welcome @userModel.Username </span>
                
                } else
                {
                
                <ul class="navbar-nav">
                    <li class="nav-item @(IsActive("/"))">
                        <NavLink class="nav-link" @onclick="HandleIndex">
                            Home
                        </NavLink>
                    </li>
                    <li class="nav-item @(IsActive("/shop"))">
                        <NavLink class="nav-link" @onclick="HandleShop">
                            Shop
                        </NavLink>
                    </li>
                </ul>

                }
            
            <div class="user_option">
                @if (userModel.UserId != 0)
                {
                    <a href="/login" @onclick="HandleLogout">
                        <span>
                            Logout
                        </span>
                    </a>
                    <a href="">
                        <i class="fa fa-shopping-bag" aria-hidden="true">Cart</i> @*logo for cart*@
                    </a>
                }
                else
                {
                    <a href="/login">
                        <span>
                            Login
                        </span>
                    </a>
                }
                
            </div>
        </div>
    </nav>
</div>

@code {

    int Id;
    User userModel = new User();

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        var uri = new Uri(NavigationManager.Uri);

        var queryString = uri.Query;
        if (!string.IsNullOrWhiteSpace(queryString))
        {
            Id = int.Parse(queryString.Substring(1));
        }
        try
        {

            userModel = await userData.GetUser(Id);
        }
        catch (Exception e)
        {

        }
    }

    private void HandleShop()
    {
        NavigationManager.NavigateTo("/shop?" + Id);
    }

    private void HandleIndex()
    {
        NavigationManager.NavigateTo("/?" + Id);
    }
    private void HandleIndexAdmin()
    {
        NavigationManager.NavigateTo("/Admin?" + Id);
    }


    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    private string IsActive(string path)
    {
        return NavigationManager.Uri.EndsWith(path, StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }

    private void HandleLogout()
    {
        userModel = new User();
    }
}
