

<div class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container " style="margin-top:7rem">
        <a class="navbar-brand" href="/">
            <span>
                VBStore
            </span>
        </a>

    </nav>
</div>

@code {
   
}
