@page "/BookAdmin"
@inject NavigationManager navManager
@inject IUserData userData
@inject IBookData bookData
@inject IJSRuntime JS

<PageTitle>VBStore</PageTitle>
@if (notAdmin)
{
    <h1>Unauthorized Access</h1>
} else
{
    <h1>Books</h1>

    <p>
        <NavLink style="margin:10px 0 20px 0" class="btn btn-primary" @onclick="HandleCreatePage">Add Book</NavLink>
        <NavLink style="color:#040404; margin-left:70rem" class="btn btn-link" @onclick="HandleAdminPage">Users</NavLink>
        <NavLink style="color:#040404;" class="btn btn-link" @onclick="HandleAuthorPage">Authors</NavLink>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Price (AED)
                </th>
                <th>
                    Publishers
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book book in books)
            {
                <tr>
                    <td style="width: 50%">
                        @book.Title
                    </td>
                    <td>
                        @book.Price
                    </td>
                    <td>
                        @book.Publisher
                    </td>
                    <td>
                        <NavLink class="btn btn-primary" @onclick="() => HandleEdit(book.BookId)">Edit</NavLink> |
                        <NavLink class="btn btn-primary" @onclick="() => HandleDetails(book.BookId)">Details</NavLink> |
                        <NavLink class="btn btn-danger" @onclick="() => HandleDelete(book.BookId)">Delete</NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}


@code {

    int Id;
    bool notAdmin = false;
    List<Book> books = new List<Book>();
    User admin = new User();

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(navManager.Uri);

        var queryString = uri.Query;

        if (!string.IsNullOrWhiteSpace(queryString))
        {
            Id = int.Parse(queryString.Substring(1));
        }

        try
        {
            admin = await userData.GetUser(Id);
        }
        catch (Exception e)
        { }

        if (admin.UserType != UserType.Admin)
        {
            notAdmin = true;
        }

        IEnumerable<Book> booksI = await bookData.GetBooks();
        books = booksI.ToList();
    }

    private void HandleEdit(int id)
    {
        navManager.NavigateTo("/BookEdit?" + admin.UserId + "+" + id);
    }
    private async Task HandleDelete(int id)
    {

        try
        {
    var response = await bookData.DeleteBook(id);

        books = books.Where(book => book.BookId != id).ToList();

        // Manually trigger component render
        StateHasChanged();
            
        }
        catch (Exception e)
        {
            await JS.InvokeVoidAsync("alert", "Cannot delete Book / Author as it is included in a current existing Order");
        }


    }
    private void HandleDetails(int id)
    {

        navManager.NavigateTo("/BookDetails?" + admin.UserId + "+" + id);
    }

    private void HandleCreatePage()
    {
        navManager.NavigateTo("/BookCreate?" + admin.UserId);

    }

    private void HandleAdminPage()
    {
        navManager.NavigateTo("/Admin?" + admin.UserId);

    }
    private void HandleAuthorPage()
    {
        navManager.NavigateTo("/AdminAuthor?" + admin.UserId);

    }
}
