@page "/AuthorDetails"
@inject NavigationManager navManager
@inject IUserData userData
@inject IBookData bookData
@inject IAuthorData authorData
@inject IJSRuntime JS


@if (notAdmin)
{
    <h1> Unauthorized Access </h1>
}
else
{

    <h1>Book Details</h1>

    <div style="margin-bottom:20px">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                @authorModel.FirstName
            </dd>
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @authorModel.LastName
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @authorModel.Description
            </dd>
            <dt class="col-sm-2">
                Books
            </dt>
            <dd class="col-sm-10">
                @foreach (var book in books)
                {
                    <p>
                        @book.Title
                    </p>
                }
            </dd>
            
        </dl>
    </div>
    <div>
        <a class="btn btn-primary" @onclick="HandleEdit">Edit</a> |
        <input class="btn btn-primary" type="button" value="Print" onclick="window.print();" /> |
        <a class="btn btn-primary" href="javascript: history.go(-1)">Back to List</a>
    </div>
}

@code {
    Author authorModel = new Author();
    List<Book> books = new List<Book>();
    int Id;
    int adminId;
    bool notAdmin = false;
    User admin = new User();

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(navManager.Uri);

        var queryString = uri.Query;

        if (!string.IsNullOrWhiteSpace(queryString))
        {
            // Remove the "?" at the beginning
            queryString = queryString.Substring(1);

            // Split the remaining string using "+"
            var parts = queryString.Split('+');

            if (parts.Length == 2)
            {
                adminId = int.Parse(parts[0]);
                Id = int.Parse(parts[1]);

            }
        }

        try
        {
            admin = await userData.GetUser(adminId);
            authorModel = await authorData.GetAuthor(Id);
            IEnumerable<Book> bookI = await bookData.GetBooksByAuthor(authorModel.AuthorId);
            books = bookI.ToList();
        }
        catch (Exception e)
        { }

        if (admin.UserType != UserType.Admin)
        {
            notAdmin = true;
        }

    }

    private void HandleEdit()
    {
        navManager.NavigateTo("/AuthorEdit?" + admin.UserId + "+" + authorModel.AuthorId);
    }

}
