@page "/createAccount"
@layout LoginLayout
@inject DataAccess.DBAccess.ISqlDataAccess db
@inject UserData userData
@inject NavigationManager navManager

<head>
    <style>
        body {
            margin: 0;
            margin-top:5rem;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background-color: #f9ece6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background-color: #9a7b4f;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 30rem;
            margin-bottom: 10rem;
        }

            .login-container h1 {
                color: #432616;
            }

        .login-form {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
                color: #f9ece6;
            }

            .form-group input {
                width: 100%;
                padding: 8px;
                border: 1px solid #f9ece6;
                border-radius: 4px;
            }

            .form-group button {
                background-color: #f9ece6;
                color: #432616;
                padding: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
    </style>
</head>
<body>
<div class="login-container">
    <h1>Create Account</h1>
    <EditForm Model="userModel" class="login-form">
        <div class="form-group">
            <label for="username">First Name</label>
            <InputText @bind-Value="userModel.FirstName" type="text" id="firstname" name="firstname" required />
        </div>
        <div class="form-group">
            <label for="firstname">Last Name</label>
            <InputText @bind-Value="userModel.LastName" type="text" id="lastname" name="lastname" required />
        </div>
        <div class="form-group">
            <label for="lastname">Username</label>
            <InputText @bind-Value="userModel.Username" type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText @bind-Value="userModel.PasswordHash" type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <InputText @bind-Value="userModel.Email" type="text" id="email" name="email" required />
        </div>
        <div class="btn-box">
            <button @onclick="HandleSubmit" type="submit">Create Account</button>
        </div>
        <div style="margin-top:1rem">
            <a href="/login" style=""> Login </a>
            <h3> @message </h3>
        </div>
    </EditForm>
</div>
</body>

@code {

    User userModel = new User();
    string message = string.Empty;

    private async Task HandleSubmit()
    {
        userModel.UserType = UserType.User;
        message = "Loading...";
        try
        {
            var response = await userData.InsertUser(userModel);
            navManager.NavigateTo("/?" + response);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            message = "User Already Exists";
        }
        

    }
}
